*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    .wrapper{
        display: flex;
        height: 100vh;
        width: 70%;
        background-color: #ccc;
        justify-content: space-between;
        flex-wrap: wrap;
        div{
            display: flex;
            cursor: pointer;
           
            flex-direction: column;
            background-color: #fff;
            align-items: center;
            box-shadow: 1px 2px 2px #000;
            height: 350px;
            width: 300px;
            span{
                margin-top: 10px;
            }
            img{
                max-width: 100%;
                min-height: 200px;
            }
        }
    }
}
